.profile-creation-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    background-color: #f1f1f1;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(67,65,65,0.4);
    
  }
  .selectGender{
    margin: 5px 5px;
    border-radius: 15px;
    padding: 5px 4px;
    width: 130px;
  }
  .page-title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 24px;
  }
  
  .profile-creation-page form {
    /* margin-bottom: 20px; */
  }
  
  .profile-creation-page label {
    font-size: 20px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profile-creation-page input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 11px;
    margin-bottom: 10px;
  }
  
  .subBut{
    display: flex;
    justify-content: center;
    /* margin-top: 20px;  */
  }

  .save-btn {
    background-color: #007bff ;
    color: #fff;
    border: none;
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 130px;
  }
  
  .save-btn:hover {
    background-color: #0056b3;
  }
  
  .profile-creation-page input[type="file"] {
    margin-bottom: 10px;
  }

  
/* Media Queries */

/* Large screens */
@media screen and (min-width: 1200px) {
  .profile-creation-page {
    margin: 50px auto;
    padding: 60px;
  }
}

/* Medium screens */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .profile-creation-page {
    max-width: 720px;
    margin: 40px auto;
    padding: 25px;
  }
}

/* Small screens */
@media screen and (max-width: 767px) {
  .profile-creation-page {
    margin: 20px auto;
    padding: 30px;
  }
}
  
  