/*MobileList.css */
.mobile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
/*Mobile.css */
.Mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 900px;
}
.Mobile-list img {
  width: 150%;
  height: 8s00px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.Mobile h3 {
  font-size: 2.0rem;
  text-align:center;
}
h1{
  text-align: center;
  font-size: 5.0rem;
}

