/* body{
    background-color:white;
  } */
  .RegistrationForm form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding:10px 90px;
    justify-content: center;
    margin-top: 5%;
    }
    .RegistrationForm h1{
      width: 95%;
     background-color:rgb(7,2,71) ;
     padding: 35px;
     color: white;
    }
  
  .RegistrationForm table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .RegistrationForm td {
    padding: 0.5rem;
    vertical-align:middle;
  }
  .RegistrationForm input[type=text],select{
    width: 110%;
    padding: 14px 20px;
    margin: 8px 0;
    size:30%;
    display: inline-block;
    border-radius: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .RegistrationForm input[type=password],select{
    width:110%;
    padding: 16px 20px;
    margin: 8px 0;
    size:30%;
    display: inline-block;
    border-radius: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .RegistrationForm label {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  .RegistrationForm input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .RegistrationForm button {
    padding: 0.5rem 1rem;
    background-color:#45a049;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 28px 20px;
    width: 40%;
  }
  
  .RegistrationForm button:hover {
    background-color:#45a049;
  }
  .RegistrationForm h2{
    text-align: center;
  }
  .RegistrationForm h3{
    text-align: center;
  }
  