body{
  background-color:white;
}
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding:10px 90px;
  justify-content: center;
  margin-top: 5%;
  }
  h1{
    width: 95%;
   background-color:rgb(7,2,71) ;
   padding: 35px;
   color: white;
  }

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.5rem;
  vertical-align:middle;
}
input[type=text],select{
  width: 110%;
  padding: 14px 20px;
  margin: 8px 0;
  size:30%;
  display: inline-block;
  border-radius: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password],select{
  width:110%;
  padding: 16px 20px;
  margin: 8px 0;
  size:30%;
  display: inline-block;
  border-radius: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
button {
  padding: 0.5rem 1rem;
  background-color:#45a049;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 28px 20px;
  width: 40%;
}

button:hover {
  background-color:#45a049;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
  